@media screen and (max-width: 1400px) {
    #searchForm {
        max-width: 170px;
    }

}

body {
    font-size: 1rem
}

.nav-link {
    font-size: small;
}

.text-small {
    font-size: small;
}

#listPhoneFeature ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#listPhoneFeature li {
    display: inline;
    float: right;
}

#listPhoneFeature li a {
    display: inline-block;
    padding: 8px 16px;
    font-size: small;
}