/* Style input file */
/* upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-upload-file {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 75px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  } */